{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Customer Services</title>
</head>
<body style="background-image: url('{% static "./img/qw3.png" %}')";>
<div  align="center">

							<img src="{% static './img/qw7.jpg' %}" height="100%" width="100%" >
							<div class="pi-links">
								<br>
                                <br>
                                <a href="/" class="add-card"><i class="flaticon-bag"></i><span style="color: white">HOME</span></a>
                                 <a href="cart" class="wishlist-btn"><i class="flaticon-heart" style=" margin-right: 100px"></i><span style="color: white;"
>CART</span></a>
							</div>

</body>
</html>